<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="/"> <img alt="image" src="../assets/img/punocoin-logo.png" class="header-logo" />
        </a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">Main</li>
        <li class="dropdown active">
          <a href="/" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
        </li>
        <!-- <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i
              data-feather="briefcase"></i><span>User Management</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="Admin_addadmin_management.html">Add User</a></li>
            <li><a class="nav-link" href="Admin_viewadmin_management.html">View User</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>
             SubAdmin Management</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="Subadmin_add_management.html"> Add Sub Admin</a></li>
            <li><a class="nav-link" href="Subadmin_view_management.html"> View Sub Admin</a></li>
          </ul>
        </li> -->
        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>
          User Managemnt </span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="/addUser">Add User</a></li>
            <li><a class="nav-link" href="/viewUser">View User</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>
          Product Managemnt </span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="/addproduct">Add Product</a></li>
            <li><a class="nav-link" href="/products">View Product</a></li>
          </ul>
        </li>
        <!-- <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>Driver Management</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="Driver_add_management.html">Add Driver</a></li>
            <li><a class="nav-link" href="Driver_view_management.html">View Driver </a></li>
                   <li><a class="nav-link" href="Driver_withdraw_report_management.html">Driver Withdraw Report </a></li>
          </ul>
        </li> -->
       <!-- <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i
              data-feather="shopping-bag"></i><span>Product Reports</span></a>
           <ul class="dropdown-menu">
            <li><a class="nav-link" href="/ongoingBooking">Booking Ongoing</a></li>
            <li><a class="nav-link" href="/bookHistory">Booking History</a></li>
          </ul>
        </li> -->
       
  
          <li>
            <a class="nav-link" href="/notifications">
              <i data-feather="sliders"></i>
              <span>Notification</span>
            </a>
            </li>

            <li>
              <a class="nav-link" href="/imgreq">
                <i data-feather="sliders"></i>
                <span> Requested Images</span>
              </a>
              </li>
              <li>
                <a class="nav-link" href="/query">
                  <i data-feather="sliders"></i>
                  <span> Query Tickets </span>
                </a>
              </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="alert-triangle"></i><span>Help & Support </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/support">add Inquiry Details</a></li>
                <!-- <li><a class="nav-link" href="Support_aboutUs.html">About Us</a></li> -->
              </ul>
            </li> 
           <li>
            <a class="nav-link" href="/Faq_User">
              <i data-feather="flag"></i>
              <span>User Faq</span>
            </a>         
        
        </li>
        <li >

          <a class="nav-link" href="/TC_User">
            <i data-feather="map"></i>
            <span>User Terms & Conditions</span>
          </a>  
        </li>
        <li >

          <a class="nav-link" href="/userPrivacy">
            <i data-feather="user-check"></i>
            <span>User  Privacy & Policy</span>
          </a> 
      
        </li>
        <li >
    
          <a class="nav-link" href="/aboutus">
            <i data-feather="user-check"></i>
            <span>  About Us </span>
          </a>  
        </li>
          <li class="dropdown ">
             <a href="/logout" class="nav-link"><i data-feather="monitor"></i>
              <span>Logout</span></a>
        </li>
      </ul>
    </aside>
  </div>