<!DOCTYPE html>
<html lang="en">


<!-- index  21 Nov 2019 03:44:50 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Add Driver  Admin Management</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/css/app.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.png' />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar sticky">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="assets/img/user.png"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
               <!-- <div class="dropdown-title">Hello Sarah Smith</div> --> 
               <a href="profiles.html" class="dropdown-item has-icon"> <i class="far fa-user"></i> Profile</a>
              <div class="dropdown-divider"></div>
              <a href="log-in.html" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html"> <img alt="image" src="assets/img/punocoin-logo.png" class="header-logo" />
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown">
              <a href="index.html" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>Admin Management</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="Admin_addadmin_management.html">Add Admin</a></li>
                <li><a class="nav-link" href="Admin_viewadmin_management.html">View Admin</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>
                 SubAdmin Management</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="Subadmin_add_management.html"> Add Sub Admin</a></li>
                <li><a class="nav-link" href="Subadmin_view_management.html"> View Sub Admin</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>
              User Managemnt </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="User_add_management.html">Add User</a></li>
                <li><a class="nav-link" href="User_view_management.html">View User</a></li>
              </ul>
            </li>
            <li class="dropdown active">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>Driver Management</span></a>
              <ul class="dropdown-menu">
                <li class="active"><a class="nav-link" href="Driver_add_management.html">Add Driver</a></li>
                <li><a class="nav-link" href="Driver_view_management.html">View Driver </a></li>
                       <li><a class="nav-link" href="Driver_withdraw_report_management.html">Driver Withdraw Report </a></li>
              </ul>
            </li>
           <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="shopping-bag"></i><span>Report</span></a>
               <ul class="dropdown-menu">
                <li><a class="nav-link" href="Report_booking_ongoing_management.html">Booking Ongoing</a></li>
                <li><a class="nav-link" href="Report_booking_history_management.html">Booking History</a></li>
                <li><a class="nav-link" href="Report_user_ride_cancel_management.html">User Ride Cancel Report</a></li>
                <li><a class="nav-link" href="Report_driver_ride_cancel_management.html">Driver Ride Cancel. Report</a></li>
              </ul>
            </li>
              <li>
                <a class="nav-link" href="add_city_management.html">
                  <i data-feather="file"></i>
                  <span>Add City</span>
                </a>
              </li>
            <li>
              <a class="nav-link" href="Rate_management.html">
                <i data-feather="layout"></i>
                <span>Rate Management</span>
              </a>
            </li>
          <li class="dropdown">
              <a class="nav-link" href="Surge_pricing.html">
                <i data-feather="grid"></i>
                <span>Surge pricing</span>
              </a>
            </li>
            <li class="dropdown">
              <a  class="nav-link" href="Vehicle_type.html">
                <i data-feather="pie-chart"></i>
                <span>Vehicle Type</span>
              </a>
            </li>
          <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="feather"></i><span>Setting </span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="Setting_general_setting.html">General Setting</a></li>
          </ul>
            </li>
             
            <li>
              <a class="nav-link" href="Cancel_reason.html">
                <i data-feather="image"></i>
                <span>Cancel Reason </span>
              </a>
            </li>
              <li>
                <a class="nav-link" href="notifications.html">
                  <i data-feather="sliders"></i>
                  <span>Notification</span>
                </a>
                </li>
               <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="flag"></i><span>Faq</span></a>
              <ul class="dropdown-menu">
                <li><a href="Faq_user.html">User Faq</a></li>
                <li><a class="nav-link" href="Faq_driver.html">Driver Faq</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="map"></i>
                <span>Terms & Conditions</span></a>
              <ul class="dropdown-menu">
                <li><a href="Terms_conditions_user.html">User Terms & Conditions</a></li>
                <li><a href="Terms_conditions_driver.html">Driver Terms & Conditions</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="user-check"></i><span>Privacy & Policy</span></a>
              <ul class="dropdown-menu">
                <li><a href="Privacy_policy_user.html"> User  Privacy & Policy</a></li>
                <li><a href="Privacy_policy_driver.html"> Driver  Privacy & Policy</a></li>
              </ul>
            </li>
           <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="alert-triangle"></i><span>Support Call Center</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="Support_inquiry.html">Inquiry</a></li>
                <li><a class="nav-link" href="Support_aboutUs.html">About Us</a></li>
              </ul>
            </li> 
              <li class="dropdown ">
                 <a href="log-in.html" class="nav-link"><i data-feather="monitor"></i>
                  <span>Logout</span></a>
            </li>
          </ul>
        </aside>
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
           <div class="fully-page">
             <div class="full-headings">
               <h4>Add Driver Management</h4>
             </div>
             <div class="box-bodys" style="background: url(assets/img/login-bg/mobile-driver.jpg);
             background-size: cover;background-repeat: no-repeat;background-position: center;">
              <div class="row">
                <div class="col-md-4">
                  <div class="forms-img">
                     <!-- <img src="assets/img/mobile-login.png" style="width: 100%;    height: 425px;"> -->
                  </div>
                </div>
                 <div class="col-md-8">
                 <div class="form-group row">
                <div class="form-group add-admin col-md-6">
                    <label class="control-label" for="name">First Name</label>
                    <input type="text" name="name" class="form-control required" placeholder="First Name" required="">
                </div>
                    <div class="form-group  add-admin col-md-6">
                      <label class="control-label" for="name">Last Name</label>
                      <input type="text" name="username" class="form-control required" placeholder="Last Name" required="">
                    </div>
                    <div class="form-group add-admin col-md-12">
                        <label class="control-label" for="name">Email</label>
                        <input type="email" name="email" class="form-control required" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" placeholder=" Email" required="">
                    </div>
                    <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="name">Password</label>
                        <input type="text" name="pass" class="form-control required" placeholder=" Password" required="">
                    </div>
                     <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="name">city</label>
                        <select name="cars" id="cars">
                              <option value="volvo">Select city</option>
                              <option value="Indore">Indore</option>
                              <option value="ujjian">Ujjian</option>
                              <option value="dewas">Dewas</option>
                        </select>
                      <!-- <input type="tel" name="contact" class="form-control" placeholder="Phone Number"  required="" >
                        style="margin-top: -33px;margin-left: 105px;width: 385px;" -->
                    </div>
                    <div class="form-group add-admin col-md-12">
                            <label class="control-label" for="name">Address</label>
                            <textarea name="address" class="form-control required" required=""></textarea>
                        </div>
                         <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="name">Car Type</label>
                        <select name="cars" id="cars">
                              <option value="volvo">Select Car Type</option>
                              <option value="Indore">Luxury car</option>
                              <option value="ujjian">Mie ride Luxury</option>
                              <option value="dewas">Mini VAn</option>
                        </select>
                      </div>

                        <div class="form-group add-admin  col-md-6">
                        <label class="control-label" for="name">Vehicle Number</label>
                        <input type="text" name="car_number" class="form-control required" placeholder="Vehicle Number" required="">
                    </div>

              
                    <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="image"> Driver Image</label><br>
                        <input type="file" name="image" onchange="validateImage(this)" id="image" class="" size="20" required="">
                        <div id="image_req" style="color: red"></div>
                    </div>
                    <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="image">Insurance Image</label><br>
                        <input type="file" name="image" onchange="validateImage(this)" id="image" class="" size="20" required="">
                        <div id="image_req" style="color: red"></div>
                    </div>
                     <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="image"> Licence Image</label><br>
                        <input type="file" name="image" onchange="validateImage(this)" id="image" class="" size="20" required="">
                        <div id="image_req" style="color: red"></div>
                    </div>
                    <div class="form-group add-admin col-md-6">
                        <label class="control-label" for="image">RC Image</label><br>
                        <input type="file" name="image" onchange="validateImage(this)" id="image" class="" size="20" required="">
                        <div id="image_req" style="color: red"></div>
                    </div>
                 
                    <div class="form-group  add-admin col-md-12" style="margin-bottom: 0px;">
                       <input type="submit" name="add" class="btn btn-primary" value="Submit"> 
                    </div>   
                  </div>
                 </div>
             </div>
           </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          COPYRIGHT MIE RIDE, 2023 Design & Developed by
          <a href="https://cyberimpulses.com/">CISS</a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="assets/js/custom.js"></script>
</body>


<!-- index  21 Nov 2019 03:47:04 GMT -->
</html>